extends ../../layout-home

block content
	.container
		.row
			.col-md-12
				ol.breadcrumb
					li
						a(href="/home") Home
					li
						a(href="/api/tokens") Token
					li.active addtoken
				each device in devices
					.row
						form(action="/api/tokens/addtoken" method="post")
							.col-md-1
								input(type="submit" value="+")
							.col-md-2
								p -> #{device.name}
							.col-md-9
								if device.scopes
									input(type="hidden" name="deviceId" value=device._id)
									.btn-group(data-toggle='buttons')
										each scope in device.scopes
											label.btn.btn-primary
												input(type='checkbox', autocomplete='off', name='scope' value=scope)
												| #{scope}